# 1. Write a Python Program to Find the Factorial of a Number?

In [1]:
def fact_for(n):
    """This function takes number as arg and returns its factorial"""
    factorial = 1
    for i in range(1,n+1):
        factorial = factorial * i
        i += 1
    return "Factorial of entered number {} is {} ".format(n,factorial)

In [3]:
fact_for(5)

'Factorial of entered number 5 is 120 '

# 2. Write a Python Program to Display the multiplication Table?

In [4]:
def mult_table(n):
    """This func takes no. as arg and returns its multiplication table"""
    c=1
    for i in range(1,11):
        
        c=n*i
        print("{} X {} = {}".format(n,i,c))

In [6]:
mult_table(15)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

# 3. Write a Python Program to Print the Fibonacci sequence?

In [7]:
def fib_while(n,a,b):
    """Function takes steps, first and second number as args and returns fibonacci sequence"""
    c = 0
    i = 0
    print(a)
    print(b)
    while i < n-2:
        c= a + b
        a = b
        b = c
        i += 1
        print(c)

In [8]:
fib_while(8,1,2)

1
2
3
5
8
13
21
34

In [9]:
def fib_for(n,a,b):
    """Function takes steps, first and second number as args and returns fibonacci sequence"""
    for i in range(n):
        print(a)
        a,b = b, a+b

In [10]:
fib_for(8,1,2)

1
2
3
5
8
13
21
34

# 4. Write a Python Program to Check Armstrong Number?

In [11]:
def check_arm(n):
    """The func takes no. as args and checks for armstrong number"""
    m = len(str(n))
    c=0
    for i in str(n):
        c = c + int(i)**m
    if c == int(n):
        return "Entered Number {} is a Armstrong Number".format(n)
    else:
        return "Entered Number {} is not a Armstrong Number".format(n)

In [12]:
check_arm(361)

'Entered Number 361 is not a Armstrong Number'

# 5. Write a Python Program to Find Armstrong Number in an Interval?

In [13]:
def find_arm(a,b):
    """this function takes interval and returns list of all armstrong number in that interval"""
    l1 = []
    for n in range(a, b+1):
        m = len(str(n))
        c=0  
        for i in str(n):
            c = c + int(i)**m
            if c == int(n):
                l1.append(c)
    print("Armstrong Numbers in Between {} and {} is {}".format(a,b,l1))

In [14]:
find_arm(0,100)

Armstrong Numbers in Between 0 and 100 is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 6. Write a Python Program to Find the Sum of Natural Numbers?

# Sum of first n natural numbers

In [15]:
def firstN_sum(n):
    """This function takes nth natural no. as arg an returns sum of first n natural nos."""
    sum = int((n*(n+1)/2))
    return "sum first {} natural numbers is {}".format(n,sum)

In [16]:
firstN_sum(10)

'sum first 10 natural numbers is 55'

In [17]:
def interval_sum(a,b):
    """This function takes two nos. as args and returns sum of natural nos. in that interval"""
    sum = 0
    if a !=0:
        for i in range(a,b+1):
            sum = sum + i
    return "sum of natural numbers between '{}' and '{}' is '{}'".format(a,b,sum)

In [18]:
interval_sum(99,199)

"sum of natural numbers between '99' and '199' is '15049'"